/* tags.scss* */

$primaryColor: #FF6060;

.collapse1 {
    position: absolute;
    width: 582px;
    height: 52px;
    border-radius: 10px;
    background: $primaryColor;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    text-align: left;
    justify-content: center;
    align-items: center;
  }

  .collapse2 {
    position: absolute;
    width: 582px;
    height: 52px;
    border-radius: 10px;
    background: $primaryColor;
    color: white;
    font-family: Montserrat;
    font-size: 14px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin-left: 700px;
  }
  
  