$primaryColor: #FF6060;

.collapse-container2 {
  position: absolute;
  margin-left: 720px;
  width: 582px;
  height: 52px;
  background-color: $primaryColor;
  border-radius: 5px;
  transition: height 0.5s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;



  &.open {
    height: auto;
    overflow: hidden;
    transform: translateY(0);

  }

  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 20px;
    cursor: pointer;

    h3 {
      margin-right: 420px;
      font-weight: normal;
      font-family: Montserrat;
      font-size: 18px;
      color: white;
    }

    svg {
      color: white;
      width: 20px;
      height: 20px;
      transition: transform 0.3s ease-in-out;
      padding-right: 5px;
    }
  }

  ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0 10px;
    margin: 0px 0;
    background: #F6F6F6;


    li {
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 10px;
      font-family: Montserrat;
      font-size: 14px;
      color: $primaryColor;
    }
  }
}
