/* styles/components/footer.scss */

footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    width: 1450px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  
    img {
    filter: brightness(0) invert(1);
      width: 100px; 
      height: auto;
      margin-left: 100px;
    }


  }

  body {
    margin: 0;
    padding: 30px;
    position: relative;
    min-height: 100vh; /* 100% de la hauteur de la vue */
  }
  

  #root {
    padding-bottom: 100px
  }
  