
footer {
    bottom: 0em;
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    width: 1450px;
    height: 208px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out;



  
    img {
    filter: brightness(0) invert(1);
      width: 100px; 
      height: auto;
      margin-left: 100px;
    }


  }
