$primaryColor: #FF6060;
$nonactivestarscolor : rgb(168, 168, 168);


.rating {
    position: absolute;
    gap: 50px;
    top: 645px;
    left: 1470px;


    .activestars {
       color: $primaryColor;
    }

    .greystars {
        color: $nonactivestarscolor;
    }

}