body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; 
  overflow-x: hidden;
}

.accueil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.apropos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.apropos-container .banner-text {
  display: none;
}

.logement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}


.show-more-button {
  background-color: #FF6060; 
  color:white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  width: 200px;
}

.show-less {
  margin-top: 410px;
  margin-left: -800px;
  margin-bottom: -20px;
}

button {
  appearance: none; 
  border: none; 
}

.container-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
 

  .title-404 {
    color: #FF6060;
    font-family: 'Montserrat';
    font-size: 250px;
    margin-top: 0;
    margin-bottom: 5vw;
  }

  .noexist-404 {
    color: #FF6060;
    font-family: 'Montserrat';
    font-size: 36px;
    margin-top : 0px;
    margin-bottom: 5vw;
  }

  .gotoindex-404 {
    color: #FF6060;
    font-family: 'Montserrat';
    font-size: 18px;
    margin-bottom: 5vw;
    text-decoration: underline;
  }


}

/* Media queries pour les tablettes */
@media only screen and (max-width: 768px) {
}
/* Media queries pour les téléphones */
@media only screen and (max-width: 480px) {
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .accueil-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  }

  .show-more-button {
    margin-left: 4vw;
    font-size: 3.5vw;
    width: 35vw;
  }

  .show-less {
  margin-top: 10px;
  margin-left: 0;
  margin-bottom: -20px;
}
}