/* App.css */
body {
    margin: 0 auto;
    padding: 30px;
    
  }

  .gallerycard {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
.accueil-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
