$primaryColor: #FF6060;

.container {
  display: grid;
  margin-bottom: 100px;
  max-width: 1240px;
  margin-right: 70px;
}

.title {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
  letter-spacing: 0em;
  text-align: left;
  color: $primaryColor;
  margin-left: 95px;
  margin-top: -450px;
}

.location {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: $primaryColor;
  margin-top: -370px;
  margin-left: 95px;
}

.host {
  display: flex;
  align-items: center;
  margin-top: -350px;
  margin-left: auto;
}

.picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: -14px;
  margin-top: -110px;
}

.name {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: $primaryColor;
  margin-left: -100px;
  margin-bottom: 20px;
}




  /* Media queries pour les tablettes */
@media only screen and (max-width: 768px) {

}

/* Media queries pour les téléphones */
@media only screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
  }
  
  .title { 
    font-size: 5vw;
    margin-top: -14vw;
    margin-left: -42vw;    
    
  }
  .location {
   
    font-size: 3vw;
    line-height: 5vw;
    margin-top: 0;
    margin-left: -53vw;
  }
  
  
  .host {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5vw;
    margin-bottom: 2.5vw;
    margin-left: 60vw;
  }
  
  .picture {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    margin-right: 0;
    margin-top: 0;
  }
  
  .name {
    font-family: Montserrat;
    font-size: 3vw;
    font-weight: 500;
    line-height: 26px;
    color: $primaryColor;
    margin-left: 0;
    margin-bottom: 0px;
  }

}
