.gallerycard {
  display: grid;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  justify-content: center;
  background: #F6F6F6;
  max-width: 1240px;
  border-radius: 25px;
  gap: 20px;
  padding: 30px;
  margin-bottom: 110px;
}

:-webkit-any-link {
  text-decoration: none;
}

.card {    
  margin: 20px;
  width: 340px;
  height: 340px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  position: relative;

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }

  img {      
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    text-decoration: none;
  }

  h1 {
    font-size: 16px;
    color: #fff;
    margin-top: -250px;
    margin-bottom: 30px;
    text-align: left;
    max-width: 100%;
  }

  p {
    font-size: 14px;
    color: #fff;
  }
  
  .card-link {
    text-decoration: none !important;
    color: inherit;
  }
}

/* Media queries pour les tablettes */
@media only screen and (max-width: 768px) {

}

/* Media queries pour les téléphones */
@media only screen and (max-width: 480px) {
  .gallerycard {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: white;
    max-width: 90vw;
    margin-top: 8vw;
    margin-bottom: 8vw;
    gap: 0;
    padding: 0;
    margin: 0;
  }

  .card {
    position: relative;
    width: 90vw;
    height: 55vw;
    margin-top: 7vw;
    margin-left: 0;
    border-radius: 25px;
    overflow: hidden;
  
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
    }

    .card-content {
      text-align: left;
      max-width: 100%;
      z-index: 1;
      margin-top: -50px;
    }

    .card h1 {
      font-size: 16px;
      color: #fff;
      margin-top: 0; 
      margin-bottom: 10px;
      text-align: left;
      max-width: 100%;
    }
  }
}
