$primaryColor: #FF6060;

.custom-collapse-container {
  width: 1023px;
  height: 52px;
  background-color: $primaryColor;
  border-radius: 5px;
  margin-top: 2vw;
  margin-bottom: 2vw;
  overflow: hidden;

  &.custom-open {
    height: 100%;
    transition: height 0,5s ease-in-out;
  }

  .custom-collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;

    .custom-titlecollapse {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 18px;
      color: white;
    }

    .custom-svg {
      color: white;
      width: 20px;
      height: 20px;
      transition: transform 0.5s ease-in-out;
    }
  }

  .custom-p {
    padding: 0 20px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 25px;
    font-family: Montserrat;
    font-size: 14px;
    color: $primaryColor;
    background: #F6F6F6;
  }

}

.collapse-logement-container {
  display: flex;
  margin-left: auto;
}

.collapse-description-container {
  width: 582px;
  height: 52px;
  background-color: $primaryColor;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 45px;

  &.custom-open {
    transition: height 0.1s ease-in-out;
  }

  .custom-collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;

    .custom-titlecollapse {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 18px;
      color: white;
    }

    .custom-svg {
      color: white;
      width: 20px;
      height: 20px;
      transition: transform 0.5s ease-in-out;
    }
  }

  .custom-p {
    padding: 0 20px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 25px;
    font-family: Montserrat;
    font-size: 14px;
    color: $primaryColor;
    background: #F6F6F6;
  }



  ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0 10px;
    margin: 0px 0;
    background: #F6F6F6;


    li {
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 10px;
      font-family: Montserrat;
      font-size: 14px;
      color: $primaryColor;
    }
  }
}

.collapse-equipments-container {
  width: 582px;
  height: 52px;
  background-color: $primaryColor;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  overflow: hidden;

  &.custom-open {
    height: auto;
    overflow: hidden;
  }

  .custom-collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;

    .custom-titlecollapse {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 18px;
      color: white;
    }

    .custom-svg {
      color: white;
      width: 20px;
      height: 20px;
      transition: transform 0.5s ease-in-out;
    }
  }

  .custom-p {
    padding: 0 20px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 25px;
    font-family: Montserrat;
    font-size: 14px;
    color: $primaryColor;
    background: #F6F6F6;
  }



  ul {
    margin-top: 20px;
    list-style-type: none;
    padding: 0 10px;
    margin: 0px 0;
    background: #F6F6F6;


    li {
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 10px;
      font-family: Montserrat;
      font-size: 14px;
      color: $primaryColor;
    }
  }
}

/* Media queries pour les tablettes */
@media only screen and (max-width: 768px) {

}

/* Media queries pour les téléphones */
@media only screen and (max-width: 480px) {

  //COLLAPSE GENERALE

  .custom-collapse-container {
    width: 90vw;
    height: 9vw;
    
    .custom-titlecollapse {
    padding: 1.5vw;
    font-size: 1px;
    color: white;
  }

  .custom-svg {
    color: white;
    width: 4vw;
    height: 4vw;
    transition: transform 0.5s ease-in-out;
  }
  
  .custom-p {
  margin: 0;
  line-height: 25px;
  font-family: Montserrat;
  font-size: 14px;
  color: $primaryColor;
  background: #F6F6F6;
}
  }  


// COLLAPSE EQUIPEMENTS 
.collapse-equipments-container {
  width: 90vw;
  height: 8vw;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  transition: height 1s ease-in-out;
  
  .custom-collapse-header {
    padding: 0.5vw;

    .custom-titlecollapse {
      font-size: 3.5vw;
    }

    .custom-svg {
      color: white;
      width: 3.5vw;
      height: 3.5vw;
      transition: transform 0.5s ease-in-out;
    }
  }
}

// COLLAPSE DESCRIPTION 
.collapse-description-container {
  width: 90vw;
  height: 8vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 0;

  &.custom-open {
    height: auto;
    overflow: hidden;
  }

  .custom-collapse-header {
    padding: 0.5vw;

    .custom-titlecollapse {
      font-size: 3.5vw;
    }

    .custom-svg {
      color: white;
      width: 3.5vw;
      height: 3.5vw;
      transition: transform 0.5s ease-in-out;
    }
  }
}

.collapse-logement-container {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
}