$primaryColor: #FF6060;

.custom-collapse-container {
  width: 70vw;
  height: 5vw;
  background-color: $primaryColor;
  border-radius: 10px;
  margin-top: 1vw;
  margin-bottom: 1vw;
  overflow: hidden;

  &.custom-open {
    height: 100%;
    transition: height 0,5s ease-in-out;
  }

  .custom-collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    cursor: pointer;

    .custom-titlecollapse {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 1.8vw;
      color: white;
    }

    .custom-svg {
      color: white;
      width: 2vw;
      height: 2vh;
      transition: transform 0.5s ease-in-out;
    }
  }

  .custom-p {
    padding: 0 1vw;
    margin: 0;
    padding-top: 1vw;
    padding-bottom: 1vw;
    line-height: 2vw;
    font-family: Montserrat;
    font-size: 1vw;
    color: $primaryColor;
    background: #F6F6F6;
  }

}

.collapse-logement-container {
  display: flex;
  justify-content: center;
  gap: 2vw;
}

.collapse-description-container {
  width: 40vw;
  height: 4vw;
  background-color: $primaryColor;
  border-radius: 10px;
  

  &.custom-open {
    transition: height 0.1s ease-in-out;
  }

  .custom-collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;

    .custom-titlecollapse {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 1.3vw;
      color: white;
    }

    .custom-svg {
      color: white;
      width: 2.5vw;
      height: 2.5vh;
      transition: transform 0.5s ease-in-out;
    }
  }

  .custom-p {
    padding: 0 20px;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 3vw;
    font-family: Montserrat;
    font-size: 1.8vw;
    color: $primaryColor;
    background: #F6F6F6;
  }

}

.collapse-equipments-container {
  width: 40vw;
  height: 4vw;
  background-color: $primaryColor;
  border-radius: 10px;
  

  &.custom-open {
    height: auto;
    overflow: hidden;
  }

  .custom-collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;

    .custom-titlecollapse {
      font-family: Montserrat;
      font-weight: normal;
      font-size: 1.2vw;
      color: white;
    }

    .custom-svg {
      color: white;
      width: 2.5vw;
      height: 2.5vh;
      transition: transform 0.5s ease-in-out;
    }
  }

  .custom-p {
    padding: 0 20px;
    margin: 0;
    padding-top: 2vw;
    padding-bottom: 2vw;
    line-height: 2vw;
    font-family: Montserrat;
    font-size: 2vw;
    color: $primaryColor;
    background: #F6F6F6;
  }



  ul {
    margin-top: 2vw;
    list-style-type: none;
    padding: 0 10px;
    margin: 0px 0;
    background: #F6F6F6;


    li {
      padding-top: 1.5vw;
      padding-bottom: 1.5vw;
      line-height: 1vw;
      font-family: Montserrat;
      font-size: 1.8vw;
      color: $primaryColor;
    }
  }
}

/* Media queries pour les tablettes */
@media only screen and (max-width: 768px) {

}

/* Media queries pour les téléphones */
@media only screen and (max-width: 480px) {

  //COLLAPSE GENERALE

  .custom-collapse-container {
    width: 90vw;
    height: 6vw;
    
    .custom-titlecollapse {
    padding: 1.5vw;
    font-size: 11px;
    color: white;
  } 

  .custom-svg {
    color: white;
    width: 5vw;
    height: 4vw;
    transition: transform 0.5s ease-in-out;
  }
  
  .custom-p {
  margin: 0;
  line-height: 25px;
  font-family: Montserrat;
  font-size: 11px;
  color: $primaryColor;
  background: #F6F6F6;
}
  }  


// COLLAPSE EQUIPEMENTS 
.collapse-equipments-container {
  width: 90vw;
  height: 8vw;
  margin-top: 0;
  margin-bottom: 5vw;
  margin-left: 0;
  transition: height 1s ease-in-out;
  
  .custom-collapse-header {
    padding: 1vw;

    .custom-titlecollapse {
      font-size: 3.5vw;
    }

    .custom-svg {
      color: white;
      width: 3.5vw;
      height: 3.5vw;
      transition: transform 0.5s ease-in-out;
    }

    ul {
      margin-top: 2vw;
      list-style-type: none;
      padding: 0 10px;
      margin: 0px 0;
      background: #F6F6F6;
  
  
      li {
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        line-height: 1vw;
        font-family: Montserrat;
        font-size: 11px;
        color: $primaryColor;
      }

  }
}
}

// COLLAPSE DESCRIPTION 
.collapse-description-container {
  width: 90vw;
  height: 8vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-left: 0;

  &.custom-open {
    height: auto;
    overflow: hidden;
  }

  .custom-collapse-header {
    padding: 1vw;

    .custom-titlecollapse {
      font-size: 3.5vw;
    }

    .custom-svg {
      color: white;
      width: 3.5vw;
      height: 3.5vw;
      transition: transform 0.5s ease-in-out;
    }

    .custom-p {
      font-size: 11px;
    }
  }
}

.collapse-logement-container {
  display: grid;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
}