$primaryColor: #FF6060;
$nonactivestarscolor : rgb(168, 168, 168);


.rating {
    display: flex;
    justify-content: right;
    font-size: 1.8vw;
    margin-top: -5vw;


    .activestars {
       color: $primaryColor;
    }

    .greystars {
        color: $nonactivestarscolor;
    }

}

/* Media queries pour les tablettes */
@media only screen and (max-width: 768px) {

}

/* Media queries pour les téléphones */
@media only screen and (max-width: 480px) {
    .rating {
        margin-top: -12vw;

}
}