$primaryColor: #FF6060;
$nonactivestarscolor : rgb(168, 168, 168);


.rating {
    margin-top: -280px;
    margin-left: 1220px;


    .activestars {
       color: $primaryColor;
    }

    .greystars {
        color: $nonactivestarscolor;
    }

}

/* Media queries pour les tablettes */
@media only screen and (max-width: 768px) {

}

/* Media queries pour les téléphones */
@media only screen and (max-width: 480px) {
    .rating {
        gap: 0;
        top: 0;
        margin-left: 0;
        margin-right: 65vw;
        margin-top: 8vw;

}
}