$primaryColor: #FF6060;

.tags {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    margin-top: -250px;
    margin-left: 52px;
  
  
    .tag {
      height: 25px;
      border-radius: 10px;
      background: $primaryColor;
      color: white;
      font-family: Montserrat;
      font-size: 14px;
      display: inline-flex; 
      justify-content: center;
      align-items: center;
      padding: 0 10px; 
    }
    
  }

  /* Media queries pour les tablettes */
@media only screen and (max-width: 768px) {

}

/* Media queries pour les téléphones */
@media only screen and (max-width: 480px) {
  .tags {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
  
  
    .tag { 
      display: flex; 
      justify-content: center;
      align-items: center;
      height: 5vw;
      border-radius: 5px;
      background: $primaryColor;
      color: white;
      font-family: Montserrat;
      font-size: 3vw;
     
      padding: 0 3vw; 
    }
    
  }
}
  